.About{
    height: auto;
    /* border: 2px solid white; */
    background-color: rgb(31, 29, 29);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.About .about-div{
    height: 100vh;
    /* border: 1px solid white; */
    width: 750px;
    padding: 12%;
}
#pic2{
    height: 22rem;
    border-radius: 50px;
}
.About .about-div h1{
    font-size: 35px;
    color: cadetblue;
    line-height: 50px;
}
.About .about-div p{
    line-height: 35px;
    font-size: 18px;
}
