.skills-div{
    background-color: rgb(24, 23, 23);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    /* border: 2px solid white; */

}
.skills{
    margin-top: 13px;
    margin: 25px;
    padding: 40px 100px;
    border-radius: 20px;
    height: 150px;
    width: 250px;
    box-shadow: 0px 0px 20px white;

}
.skills:hover{
    transform: scale(1.05);
    transition: 2s;
}
.skills h3{
    width: 100px;
    padding-top: 8px;
    font-weight: bold;

}
.skills img{
    height: 40px;
}
#heading{
    font-size: 40px;
    text-align: center;
    color: cadetblue;
}
.bxl-react{
    color: white;
}
